@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body{
    font-family: 'Nunito', sans-serif;
}
.row h2{
    font-weight: bold;
    margin-top: auto;
}
.row .success{
    margin-top: 30px;
}
.row .success .alert-success{
    text-align: center;
    font-weight: bold;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
}
.row .form-group .btn-success{
    background-color: rgb(87, 145, 255);
}